<h1>Hi Dalton,</h1>

<p>You've received a new message from <strong><%= @name %></strong>, via the contact form on daltonhuey.com:</p>

<p><%= @message %></p>

<p>Reply to: <%= @email %></p>

<p>Good work out there,</p>

<p>Your faithful portfolio app</p>