/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #e4e4e4;
  color: #16644E;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family:  europa, sans-serif;
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 0.5rem;
}

h2 {
  font-family:  europa, sans-serif;
  font-weight: 700;
  font-size: 32px;
}

div, p, a {
  font-family: europa, sans-serif;
  font-weight: 300;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

p {
  font-size: 18px;
}

#body-container {
  position: relative;
  min-height: 100vh;
}

.contained-nav {
  width: 108px;
}

.h1-symbol {
  color: #ab6936;
}

.nav-collection {
  padding-top: 2rem;
}

.nav-link {
  color: #16644E;
  text-decoration: none;
  padding: 2rem;
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-logo {
  height: 76px;
  padding: 1rem;
}

.icon-collection {
  margin-right: 1rem;
}

.nav-icon {
  color:  #16644E;
  font-size: 20px;
  padding: 1rem;
}

.nav-icon:hover {
  opacity: 80%;
}

.menu {
  position: absolute;
  top: 2.25rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  z-index: 5;
}

.menu .bar {
  height: 3px !important;
  width: 100%;
  background-color: #16644E;
  border-radius: 10px;
}

#wrapper {
  max-width: 1920px;
  margin: auto;
  padding-bottom: 20rem;
}

.video-project-card {
  max-width: 1200px;
  margin: 3rem auto;
  border: 1px solid #52785E;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
}

@media (max-width: 1250px) {
  .video-project-card {
    border: none;
  }
}

.video-details {
  margin-left: 2rem;
}

.video-details > h2 {
  margin-top: 0px;
}

.youtube-embed {
  aspect-ratio:  16 / 9;
}

.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: europa;
  font-weight: 300;
  cursor: pointer;
  transition: hover, 300ms;
  min-width: 72px;
  min-width: 72px;
}

.button:hover {
  opacity: 75%;
}

.accent-button {
  background-color: #ab6936;
  color: white;
}

.delete-button {
  border: 1px solid red;
  color: red;
  background-color: #e4e4e4;
  transition: color, 300ms, background-color, 300ms;
}

.delete-button:hover {
  color: white;
  background-color: red;
}

.add-resource {
  text-align: center;
  margin: 2rem auto;
}

.form-container {
  max-width: 800px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.down-arrow {
  max-width: 4rem;
  transition: transform 300ms;
  cursor: pointer;
}

.down-arrow:hover {
  transform: scale(1.5);
}

.form-comment {
  max-width: 500px;
  margin: auto;
}

input[type=text], input[type=url], input[type=email], input[type=password], textarea {
  width: 90%;
  max-width: 500px;
  display: block;
  margin: 0.5rem auto;
  font-size: 18px;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  font-family: europa;
  font-weight: 300;
}

textarea {
  min-height: 8rem;
}

.form-submit {
  margin-top: 2rem;
}

.btn-small {
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.hero-section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 0 1rem;
}

.hero-section > img {
  max-height: 600px;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.hero-section > div {
  max-width: 500px;
}

.hero-section > div > p {
  font-size: 24px;
  line-height: 36px;
  margin-top: 0;
}

.subtitle {
  font-size: 36px;
}

.tech-title {
  line-height: 48px;
}

footer {
  border-top: 1px solid #52785E;
  padding: 2rem 0rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 14rem;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-logo {
  margin: 2rem;
}

.footer-logo-link {
  display: inline-block;
}

.tech-project-button {
  text-decoration: none;
  text-align: center;
  margin: 1.5rem auto;
  max-width: 300px;
}

.tech-project-link {
  color: white;
  text-decoration: none;
}

.tech-about > div > img {
  max-height: 2.5rem;
  margin: 1rem;
  width: 20%;
}

.tech-about > div {
  width: 100%;
}

.contact-success {
  margin-top: 4rem;
  font-size: 2rem;
  border: 1px solid #16644E;
  padding: 4rem;

}

.boxed-section {
  max-width: 80%;
  margin: 4rem auto;
}

.manifesto > p {
  font-family: novel-pro, sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 34px;
  max-width: 40rem;
  text-align: left;
  margin: 2rem auto;
}

.manifesto-para {
  font-family: novel-pro, sans-serif;
  font-weight: 200;
  font-size: 20px !important;
  line-height: 34px !important;
}

.content-card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto 8rem auto;
}

.content-card {
  background-color: grey;
  width: 24%;
  aspect-ratio: 4 / 5 ;
  font-size: 24px;
  transition: transform 300ms ease-in-out, filter 300ms ease-in-out;
  background-size: cover;
}

.content-card > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 2rem;
  font-weight: 700;
  box-sizing: border-box;
}

.content-card:hover {
  transform: scale(1.05);
}


#video-content-card {
  background-image: url("video-content.jpg");
}

#tech-content-card {
  background-image: url("web-dev-content.jpg");
}

#video-content-card:hover {
  backdrop-filter: blur(5px);
}

.not-found{
  padding-top: 6rem;
  max-width: 600px;
  margin: auto;
}

/* SMALL SCREEN CHANGES (875PX IS ABOUT WHERE THE CURRENT NAV STARTS TO BREAK) */

@media (max-width: 875px) {
  .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
  }

  .nav-collection {
    padding-top: 0;
    display:  none;
    border-top: 1px solid #588369;
  }

  .active-menu {
    display: flex;
    flex-direction: column;
  }

  .icon-collection {
    padding: 1rem 0rem;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #588369;
    border-top: none;
  }

  .nav-link {
    text-align: center;
    border-bottom: 1px solid #588369;
  }

  .video-project-card {
    flex-direction: column;
    justify-content: center;
    border: none;
    width: 95%;
    padding: 0;
  }

  .youtube-embed {
    width: 100%;
    height: 100%;
  }

  .video-details {
    margin: 1rem 0;
  }

  .video-details > h2 {
    margin-bottom: 0.5rem;
  }

  .video-details > p {
    margin-top: .5rem;
  }

  .hero-section {
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 0 1rem;
  }

  h1 {
    font-size: 48px;
    margin-top: 1rem;
  }

  .hero-section > div {
    width: 100;
  }

  .hero-section > div > p {
    font-size: 22px;
    line-height: 33px;
  }

  .hero-section > img {
    width: 95%;
    margin: 0.5rem
  }

  footer > .footer-menu > .nav-link {
    border: none;
  }

  .subtitle {
    font-size: 28px;
  }

  .tech-about {
    flex-direction: column;
    margin: 6rem auto;
  }

  .content-card-container {
    flex-direction: column;
  }

  .content-card {
    aspect-ratio: 6 / 4;
    width: 100%;
    background-position: center;
  }

  .content-card > a {
    font-size: 18px;
  }
}