/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #e4e4e4;
  color: #16644E;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family:  europa, sans-serif;
  font-weight: 700;
}

h2 {
  font-family:  europa, sans-serif;
  font-weight: 700;
}

div, p, a {
  font-family: europa, sans-serif;
  font-weight: 300;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.contained-nav {
  width: 108px;
}

.h1-dash {
  color: #ab6936;
}

.nav-collection {
  padding-top: 2rem;
}

.nav-link {
  color: #16644E;
  text-decoration: none;
  padding: 2rem;
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-logo {
  height: 76px;
  padding: 1rem;
}

.icon-collection {
  margin-right: 1rem;
}

.nav-icon {
  color:  #16644E;
  font-size: 20px;
  padding: 1rem;
}

.nav-icon:hover {
  opacity: 80%;
}

.menu {
  position: absolute;
  top: 2.25rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  z-index: 5;
}

.menu .bar {
  height: 3px !important;
  width: 100%;
  background-color: #16644E;
  border-radius: 10px;
}

@media (max-width: 875px) {
  .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
  }

  .nav-collection {
    padding-top: 0;
    display:  none;
    border-top: 1px solid #588369;
  }

  .active-menu {
    display: flex;
    flex-direction: column;
  }

  .icon-collection {
    padding: 1rem 0rem;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #588369;
    border-top: none;
  }

  .nav-link {
    text-align: center;
    border-bottom: 1px solid #588369;
  }
}

#container {
  max-width: 1920px;
  margin: auto;
}

.video-project-card {
  max-width: 1200px;
  margin: 3rem auto;
  border: 1px solid #52785E;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
}

.video-details {
  margin-left: 2rem;
}

.video-details > h2 {
  margin-top: 0px;
}